<style>
    .header {
        padding-top: 30px;
        padding-left: 30px;
        font-style: : underline;
    }

    .body {
        background-color: yellow;
    }

    h7 {
        margin-top: 0.5vh;
        margin-left:10px;
    }

    .post-info {
        display:flex;
        align-items: flex-start;
    }

    .card-header {
        align-items: center;
        background: rgb(179, 207, 156);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button-list{
        border-radius: 10px;
        align-self: flex-end;
        background: rgb(236, 255, 218);
    }
    .card {
        height: 50vh;
        overflow: auto;
    }
    .card-body {
        margin: 10px;
        border-radius: 10px;
        overflow-y: scroll;
        background-color: rgb(255, 255, 255]);  
    }

    .comments {
        margin: 10px;
    }

    .card {
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .nav-item:hover {
        background-color: white;;
        border-radius: 10px;
    }

    .cards {
        margin: 20px;
        gap: 20px ;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-family: sans-serif;
    }

    .featured-posts{
        margin: 20px;
        background-color: rgb(217, 240, 215);
        border-radius: 10px;
        border-color: rgb(116, 216, 203);
        font-family: sans-serif;
    }

    .other-posts {
        border-radius: 10px;
        padding: 50px;
        width: 100%;
        height 150px;
        background-color: rgb(192, 214, 211) ;
    }

    .blocks {
        display: grid;
        gap: 20px
        width: 80%
    }

    .list-group-item {
        height: 50px;
        width: 40vh;
    }
</style>
<script src="~/blog/src/connection.js"></script>
<div class="blocks">
    <div class = 'featured-posts'>
        <h1 class = 'header' style="underline">Featured Posts</h1>
        <div class="cards">
        {{#each posts}}
            <div class="card">
                <div class="card-header">
                    <div class="post-info">
                        <h4>{{this.user}}</h4>
                        <h7>{{this.time}}</h7> 
                    </div>
                    <div class="button-list">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" id= {{this.user_id}} onclick="add_connection(this.id)">Connect</a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" >Like</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" >Comment</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    <p>{{this.body}}</p>
                </div>  

                <ul class="comments">
                    {{#each comments}}
                        <li class="list-group-item">
                            <p>{{this.name}}: {{this.body}}</p>
                        </li>
                    {{/each}}
                </ul>
            
            </div>
        {{/each}}
        </div>

        
    </div>
    <div class="other-posts">
        <h1 class="post-header">Posts</h1>
    </div>
</div>





    

