<style>
    h1 {
        margin-left: 30px;
        font-style: :underline;
    }
    .body {
        background-color: yellow;
    }
    h7 {
        margin-top: 0.5vh;
        margin-left:10px;

    }

    .post-info {
        display:flex;
        align-items: flex-start;
    }

    .card-header {
        align-items: center;
        background: rgb(179, 207, 156);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button-list{
        border-radius: 10px;
        align-self: flex-end;
        background: rgb(236, 255, 218);
    }
    .card {
        height: 50vh;
        overflow: auto;
    }
    .card-body {
        margin: 10px;
        border-radius: 10px;
        overflow-y: scroll;
        background-color: rgb(255, 255, 255]);  
    }

    .comments {
        margin: 10px;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .nav-item:hover {
        background-color: white;;
        border-radius: 10px;
    }

    .cards {
        margin: 20px;
        gap: 20px ;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-family: sans-serif;
    }
    .featured-posts{
        margin: 20px;
        background-color: rgb(166, 223, 215);
        border-radius: 10px;
        border-color: rgb(116, 216, 203);
        font-family: sans-serif;
    }
</style>

<div class = 'featured-posts'>
    <h1 style="underline">Featured Posts</h1>
    <div class="cards">
    {{#each posts}}
        <div class="card">
            <div class="card-header">
                <div class="post-info">
                    <h4>{{this.user}}</h4>
                    <h7>{{this.time}}</h7> 
                    <h7>{{this.user_id}}</h7>
                </div>
                <div class="button-list">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" id= {{this.user_id}} onclick="add_connection(this.id)">Connect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Like</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Share</a>
                        </li>
                    </ul>
                </div>
                
                

            </div>

            <div class="card-body">
                <p>{{this.body}}</p>
            </div>  

            <div class="comments">
                <ul class="comments">
                    <li class="list-group-item">User303: What a great read !!</li>
                    <li class="list-group-item">simon_watts: good work</li>
                </ul>
            </div>
        </div>
    {{/each}}
    </div>
</div>



    

